* {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

html,
body {
    width: auto;
    height: 100%;
    margin: 0;
}

body::-webkit-scrollbar{
    display: none;
    overflow-x:hidden;
}



